@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="h2">
    Error
    <small class="text-muted">An error occurred while processing your request</small>
</h1>

@if (Model.ShowRequestId)
{
    <p class="lead py-3">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}