@{
    Layout = "_MasterLayout";
    ViewData["Subsite"] = "Swedish";
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
@section Styles {
    @RenderSection("Styles", required: false)
}

@section Leftmenu {
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link nav-link-header" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Index">Personal Identity Number</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Index">Info &amp; Definition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Validate">Validate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Generate">Generate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="TestDataList">Testdata</a>
        </li>
    </ul>
}

@RenderBody()