@{
    ViewBag.Title = "Info & Definition - Swedish Personal Identity Numbers";
}

<h1 class="h2">
    Info &amp; Definition
    <small class="text-muted">Swedish Personal Identity Numbers</small>
</h1>

<p class="lead py-3">
    Work in progress :) Until finished, please see <a href="https://en.wikipedia.org/wiki/National_identification_number#Sweden">Wikipedia</a>.
</p>
