@{
    ViewBag.Title = "Validate - Swedish Personal Identity Numbers";
}

<h1 class="h2">
    Validate
    <small class="text-muted">Swedish Personal Identity Numbers</small>
</h1>

<p class="lead py-3">
    Pellentesque sollicitudin ex a orci hendrerit ullamcorper in in nulla. Nunc feugiat enim eget hendrerit faucibus. Nullam sed justo eros. Curabitur pellentesque ullamcorper ligula, non viverra sem blandit vel. Cras rhoncus, mi ac fringilla placerat.
</p>
