@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Swedish Identity Info</h1>

<section class="card bg-white text-center mb-5">
    <div class="card-body py-5">
        <p class="card-text lead">
            Swedish Identity Info is a site that aims to provide info and data regarding identities in Sweden like Personal Identity Number (personnummer) and Coordination Number (samordningsnummer).
        </p>
    </div>
</section>


<section class="mb-5">
    <h2 class="text-center mb-5">Swedish Personal Identity Number</h2>

    <div class="card-deck">
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Info &amp; Definition</h5>
                <p class="card-text">Read about how a personal identity number is defined and more info about the structure.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Index">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Randomize</h5>
                <p class="card-text">Randomize a valid personal identity number safe from the testdata.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Randomize">Randomize</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Validate</h5>
                <p class="card-text">Validate whether or not a specific number is a valid personal identity number.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="Validate">Validate</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Testdata</h5>
                <p class="card-text">List of tesdata that provides GDPR complient personal identity numbers for non existing persons.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="PersonalIdentityNumber" asp-action="TestDataList">View testdata</a>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <h2 class="text-center mb-5">Swedish Coordination Number</h2>

    <div class="card-deck">
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Info &amp; Definition</h5>
                <p class="card-text">Read about how a coordination number is defined and more info about the structure.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="CoordinationNumber" asp-action="Index">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Randomize</h5>
                <p class="card-text">Randomize a valid coordination number safe from the testdata.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="CoordinationNumber" asp-action="Randomize">Randomize</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Validate</h5>
                <p class="card-text">Validate whether or not a specific number is a valid coordination number.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="CoordinationNumber" asp-action="Validate">Validate</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body ii-card-button-bottom">
                <h5 class="card-title">Testdata</h5>
                <p class="card-text">List of tesdata that provides GDPR complient coordination numbers for non existing persons.</p>
                <a class="btn btn-primary ii-card-button-bottom" asp-area="Swedish" asp-controller="CoordinationNumber" asp-action="TestDataList">View testdata</a>
            </div>
        </div>
    </div>
</section>


<h2 class="text-center mb-2 mt-5">Credits</h2>

<section class="card bg-white text-center mb-5">
    <div class="card-body">
        <p class="lead">
            Swedish Personal Identity Number is created by <a href="https://twitter.com/PeterOrneholm">Peter Örneholm</a> as a hobby project to share info about swedish identities while exploring open source, Azure and other technologies :)
        </p>

        <p class="lead">
            Swedish Personal Identity Number is dependent on <a href="https://github.com/ActiveLogin/ActiveLogin.Identity">ActiveLogin.Identity</a> for parsing, normalizing and extracting info out of the identity numbers. Thanks <a href="https://twitter.com/PeterOrneholm">Peter Örneholm</a> and <a href="https://twitter.com/Emmet_Ray">Viktor Andersson</a> who are the main contributors of that.
        </p>

        <p class="lead">
            All <a href="https://github.com/PeterOrneholm/identityinfo.net">source code is available on GitHub</a>, feel free to do a PR or file an Issue if you have feedback!
        </p>
    </div>
</section>
