@{
    ViewData["Title"] = "Home Page";
}

<section class="card bg-white text-center mb-5">
    <div class="card-body py-5">
        <h1 class="card-title">Swedish Identity Info</h1>
        <p class="card-text lead text-muted">Pellentesque sollicitudin ex a orci hendrerit ullamcorper in in nulla. Nunc feugiat enim eget hendrerit faucibus. Nullam sed justo eros. Curabitur pellentesque ullamcorper ligula, non viverra sem blandit vel. Cras rhoncus, mi ac fringilla placerat.</p>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>