@{
    ViewBag.Title = "Info & Definition - Swedish Coordination Numbers";
}

<h1 class="h2">
    Info &amp; Definition
    <small class="text-muted">Swedish Coordination Numbers</small>
</h1>

<div class="lead py-3">
    <p>
        The coordination number (samordnignsnummer) is the Swedish national identification number. It is a ten or twelve digit number that is used in Sweden to identify individuals who have any sort of contact with Swedish authorities, but not yet have a Swedish citizenship.
    </p>
</div>


<div class="card mt-2">
    <div class="card-body">
        <h2 class="card-title">Sources</h2>

        <p>
            The definition of a Swedish coordination number is described in Swedish law (Folkbokföringslagen), there are also other sources for clarifications listed below.
        </p>

        <ul>
            <li><a href="https://www.riksdagen.se/sv/dokument-lagar/dokument/svensk-forfattningssamling/folkbokforingslag-1991481_sfs-1991-481#P18a">Folkbokföringslagen (FOL 18a §)</a></li>
            <li><a href="https://www4.skatteverket.se/rattsligvagledning/edition/2019.8/330243.html">Skatteverket (Swedish)</a></li>
            <li><a href="https://www4.skatteverket.se/rattsligvagledning/edition/2019.8/330251.html">Skatteverket (Swedish)</a></li>
            <li><a href="https://www.skatteverket.se/servicelankar/otherlanguages/inenglish/individualsandemployees/livinginsweden/personalidentitynumberandcoordinationnumber.4.2cf1b5cd163796a5c8b4295.html#h-Coordinationnumber">Skatteverket (English)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Personal_identity_number_(Sweden)#Similar_identity_numbers">Wikipedia (English)</a></li>
        </ul>
    </div>
</div>



